<!DOCTYPE html>
<html lang="en">
<style>
    #main{
    width: 93%;
    background: #03CAFC;
    height: 100%;
    overflow: scroll;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
</head>
<body>
    <div style="text-align:center">
    <img src="/static/logo.png" id="pic">
</div>
<center>
<div id="main">
    <h2> Search results: </h2>

</div>



</center>
</div>
</body>
</html>