<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background-color:#BEEBF7"></body>
<center>
<h1>
     <span style="font-family:helvetica"><span style="color:#F7FCFE">
    <div style="background-color:#03CAFC;width:200px;height:45px;border:6px solid #141414">Home</div>
     </span></span>
</h1>
</center>
<a href="">
<left>
    <img src="https://cdn.iconscout.com/icon/free/png-256/account-profile-avatar-man-circle-round-user-30452.png"width="100" height="100" style="float:right"

</left>
</a>
<body>



</body>
</html>
