<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script>
        function login() {
            email = document.getElementById('email').value
            pass = document.getElementById('pass').value
            xhr = new XMLHttpRequest;
            xhr.open('PUT', '/login')
            xhr.setRequestHeader('content-type', 'application/json')
            xhr.onreadystatechange =  function() {
                if (this.readystate == 4 && this.status == 200) {
                    res = JSON.parse(this.responseText)
                    var resp = res.response
                    document.getElementById('hi').innerHTML = resp
                    xhr2 = new XMLHttpRequest;
                    xhr2.open('GET', '/ineed')
                    xhr.onreadystatechange = function() {
                        if (this.readystate == 4 && this.status == 200) {
                            document.getElementByTagName('body').innerHTML = this.responseText
                        }
                    }
                }
            }
            xhr.send(JSON.stringify({'email': email, 'pass': pass}))
        }

   </script>
        Email: <input id = "email" type="text" >
        <br>
        <br>
        Password: <input id = "pass" type="password" >
    <br>
    <br>
    <button type="button" onclick="login()">Submit</button>
    <style>
        #email{
        text: blue;
        }
    </style>
</head>
<body>

</body>
</html>