<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script>
        function login() {
            email = document.getElementById('email').value
            pass = document.getElementById('pass').value
            xhr = new XMLHttpRequest;
            xhr.open('PUT', '/login')
            xhr.setRequestHeader('content-type', 'application/json')
            xhr.onreadystatechange =  function() {
                if (this.readystate == 4 && this.status == 200) {
                    res = JSON.parse(this.responseText)
                    var resp = res.response
                    document.getElementById('hi').innerHTML = resp

                }
            }
            xhr.send(JSON.stringify({'email': email, 'pass': pass}))
        }

   </script>
        Email: <input id = "email" type="text" >
        <br>
        <br>
        Password: <input id = "pass" type="password" >
    <button type="button" onclick="login()">Submit</button>
</head>
<body>

</body>
</html>