<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="static/ineed.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="body">
Email: <input id = "email" type="text" >
    <br>
    <br>
Password: <input id = "pass" type="password" >
    <br>
    <br>
    <button type = "button" class = "_button_"nclick="login()">Submit</button>
    <br>
    <br>
    <button id = "creatacct" class = "_button_" onclick="create_account()">Don't have an account? Create one!</button>
    <style>
        #email{
        text: blue;
        }

        ._button_{
        background-color: #0000FF;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        }

    </style>
</body>
</html>